* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --accent-color: #027997;
  --secondary-color: #b64bd4;
  --text-color: #171a1c;
  --background-color: #eceaed;
  --desc-color: #eeeeee;
  --swiper-theme-color: var(--accent-color);
  --swiper-navigation-color: var(--accent-color);
  --swiper-pagination-bullet-inactive-color: var(--background-color);
  --swiper-pagination-bottom: -2%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  user-select: none;
  font-size: clamp(1.2rem, 1.5vw, 10rem);
}

.html.sr .load-hiddenn {
  visibility: hidden;
}

body {
  position: relative;
  background-color: var(--text-color);
  color: #fff;
}

img {
  display: inline-block;
}

ul {
  list-style-type: none;
}

p {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
  color: #fff;
}

h1 {
  font-weight: 700;
  font-size: clamp(1rem, 7vw, 20rem);
  line-height: clamp(1rem, 9vw, 20rem);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: clamp(1rem, 14vw, 20rem);
    line-height: clamp(1rem, 16vw, 20rem);
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: clamp(1rem, 17vw, 20rem);
    line-height: clamp(1rem, 19vw, 20rem);
  }
}

h2 {
  font-weight: 700;
  font-size: clamp(1rem, 15vw, 3rem);
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: clamp(1rem, 7vw, 3.5rem);
  }
}

label {
  font-size: clamp(1rem, 1.5vw, 3rem);
}

button {
  background-color: var(--accent-color);
  cursor: pointer;
  font-size: clamp(1.5rem, 3vw, 10rem);
  font-variant: all-small-caps;
  letter-spacing: 0.075em;
  color: #fff;
  border: none;
  border-radius: clamp(0.5rem, 1vw, 2rem);
  padding: 0.5rem 1rem 0.5rem;
  transition: 0.4s;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
}

button:hover,
button:focus {
  background-color: rgb(2, 92, 114);
}
